body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(202, 237, 252);
    background-image: url('Green\ Mac\ Wallpaper.jpeg');
    background-size: 100%;
    background-position: center;
}

header {
    background-color: #346d38;
    color: #010801;
    padding: 1em 0;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

main {
    padding: 20px;
}

form fieldset {
    border:#19491c;
    margin-bottom: 10px;
}

legend {
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

button {
    background: #0b5226;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background: #4c8446;
}

#result {
    margin-top: 20px;
}
